body {
    background-color: rgb(14, 2, 42);
}

form {
    margin-top: 50px;
}

label {
    font-size: 24px;
    color: #cfcfcf;
    margin-bottom: 10px;
    display: block;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 18px;
    color: #333;
    background-color: #f2f2f2;
}

input[type=submit] {
    background-color: #0d0a59;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    margin-top: 10px;
}

input[type=submit]:hover {
    background-color: #ffffff;
    color: #0d0a59;
}

@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }
    
    label {
        font-size: 20px;
    }
    
    input[type=text], input[type=email] {
        font-size: 16px;
    }
    
    input[type=submit] {
        font-size: 16px;
    }
}